/* page size */
@page {
  size: 21cm 29.7cm; /* var(--pagedjs-width) doesn't work in browser when printing */
  margin-top: 5mm;
  margin-bottom: 20mm;
  margin-left: 15mm;
  margin-right: 15mm;
}
.footenotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}
/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}
.title {
  display: none;
}
.author {
  display: none;
}
.pagebreak {
  page-break-before: always;
}
.footerlogo {
  position: running(footerlogopos);
}
@page {
  @bottom-right {
    content: element(footerlogopos)
  }
}
.footerdisclaimer {
  position: running(footerdisclaimerpos);
}
@page {
  @bottom-left {
    content: element(footerdisclaimerpos)
  }
}